.register_container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.cardbody-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}